.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

.infotable, .infotable th, .infotable td
{
    border-collapse: collapse;
    border: 1px solid #839E99;
    background: #f1f8ee;
    font: 22px Georgia, "Times New Roman", Times, serif;
    color: #033;
    margin:auto;
    width:1000px;
    padding:10px;

}
